.borders{
    padding: 5px;
    margin: 5px;
    border: solid black 3px;
    background-color: rgb(206, 206, 206);
}
.boton{
    background: red;
    color: #fff;
    border: solid black 1px;
    padding: 10px;
  }