<div class="borders">
    <h4>{{producto.name}}</h4>
    <p>{{producto.description}}</p>
    <p>Precio: {{producto.price}}€</p>
    <button class="boton" (click)="borrar()" >Borrar Producto</button>
</div>