<div class="margins">
    <h1>Productos</h1>
    <div class="grid">
        <div *ngFor="let producto of productos">
            <app-producto [producto]="producto"></app-producto>
        </div>
    </div>
</div>
