<header>
  <nav>
    <ul>
      <li><a class="enlaceNormal" [routerLink]="['/inicio']" [routerLinkActive]="['enlaceSeleccionado']">Inicio</a></li>
      <li><a class="enlaceNormal" [routerLink]="['/productos']" [routerLinkActive]="['enlaceSeleccionado']">Productos</a></li>
      <li><a class="enlaceNormal" [routerLink]="['/formulario']" [routerLinkActive]="['enlaceSeleccionado']">Formulario</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>