header{
    margin: -19px -19px 30px -19px;
}
nav{
    text-transform: uppercase;
}
ul{
    background-color: rgba(231, 187, 106, 0.986);
    list-style: none;
}
li{
    display: inline-block;
    position: relative;
    padding: 40px;
    font-weight: bold;
}
.enlaceNormal{
    color: black;
    text-decoration: none;
}
.enlaceNormal:hover {
    color: rgb(235, 85, 85);
    text-decoration: none;
  }
.enlaceSeleccionado{
    color: rgb(235, 85, 85);
    text-decoration: none;
}
