<div class="margins">
    <h1>Añadir nuevo producto</h1>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nombre del producto * </label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="producto.name" required minlength="5" pattern="[a-zA-Z0-9]+"/>
    
            <small class="error" *ngIf="!name.valid && name.touched">
                El campo nombre no es válido. Mínimo 5 caracteres, solo letras y números.
            </small>
        </div>
        <div class="form-group">
            <label for="description">Descripción del producto * </label>
            <textarea name="description" #description="ngModel" [(ngModel)]="producto.description" required minlength="20"></textarea>
            <small class="error" *ngIf="!description.valid && description.touched">
                El campo descripción no es válido. Mínimo 20 caracteres.
            </small>
        </div>
        <div class="form-group">
            <label for="price">Precio del producto * </label>
            <input type="number" name="price" #price="ngModel" [(ngModel)]="producto.price" required/>
            <small class="error" *ngIf="!price.valid && price.touched">
                El campo precio no es válido.
            </small>
        </div>
        <input type="submit" value="Enviar" class="btn btn-success" [disabled]="formulario.invalid"/>
    </form>
</div>